<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCESZhYk_B23QxNCjK-Oy2frwwS_dyyGP0"/>
    
    <activity
        android:name=".MainActivity"
        android:launchMode="singleTop"
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"
            />
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/launch_background"
            />
    </activity>
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</application>
</manifest>